body{
background-image: url(https://cdn2.vectorstock.com/i/thumb-large/25/26/fast-food-vector-14142526.jpg);
}

.bolsa{
    padding-right: 20px;
    padding-top: 8px;
    
}

.counter-box{
    text-align: center;
    padding-top:5px ;
    font-weight:bold ;
}

.cardContent{
    display: inline-block;
    padding-top:20px;
    padding-left: 100px;
    padding-bottom: 20px;
}

.card{
    border-radius: 25px;
    background-color: black;
    
}

.imagenCard{
    border-radius: 25px;
    width: 500px;
    height: 300px;  
}


.tituloCard{
    text-align: center;
    padding-top:5px ;
    font-weight:bold ;
    font-size: larger;
    
}

.precioCard{
    text-align: center;
    padding-top:5px ;
    font-weight:bold ;
}

.cantidadCard{
    text-align: center;
    padding-top:5px ;
    font-weight:bold ;
}
.botonCard{
border-radius: 10px;
background-color: rgb(78, 67, 4);
}
.boton{
    margin:20px;
    width:30% ;
    border-radius: 15px;
    background-color: rgb(95, 151, 201)
}
.linkCard{
    display: flex;
    justify-content: center;
    text-decoration: none;
    
}

.detailContent{
    
    padding-top:25px;
    display: flex;
    justify-content: center;
    padding-bottom:25px ;
}
.btnDetail{
    display: flex;
    justify-content: center;
    
}
.cardDetail{
    background-color: black;
    border-radius: 25px;
    align-items: center;
}

.imagenDetail{
    border-radius: 25px;
    width: 1150px;
    height: 600px; 
}

.parrafoDetail{
    text-align: center;
    padding-top:5px ;
    font-weight:bold ;
}

.cartContainer{
    background-color: rgba(8, 142, 142, 0.705);
    width: 100%;
    height: auto;
    border-bottom: solid;
}
.tituloCart{
    padding-left: 92px;
    font-size: 50px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imgCart{
    width: 25%;
    height: 50%;
    padding-left: 10px;
    border-radius:15px ;
}
.precioCart{
    padding-left: 10px;
    font-size: 35px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botonCart{
    margin:20px;
    width:15% ;
    border-radius: 15px;
    background-color: rgb(95, 151, 201)
}
.cantidad{
    color: black;
}

.form  {
    padding-left: 10px;
}